@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-de-fundo: #000000;
   --verde:#06a113;
   --claro:#ebfdea;
}
body {
    background-color: var(--cor-de-fundo);
    color: var(--verde);
    font-family: 'Barlow Condesed'
}
.titulo-secundario span {
    color: var(--claro);
}
.titulo-principal {
    text-align: center;
    width: 100%;
    font-size: 38px;
}

.titulo-secundario{
    text-align: center;
    width:  100%;
    font-size: 22px;
}  

.foto{
text-align:right;
size: 22px;
width: 20%;
}
